body {
    padding: 0;
    margin: 0;
    background-color: #464646 !important;
}

.container {
display: flex;
flex-wrap: nowrap; /* Mencegah wrapping ke baris baru */
overflow-x: auto; /* Menambahkan scrollbar horizontal jika terlalu banyak kartu */
border: 2px solid black;
margin-top : 5vh;
padding: 2%;
justify-content: space-between;
}

.card {
flex: 0 0 auto; /* Menetapkan lebar kartu agar tidak fleksibel */
width: 18rem; /* Lebar kartu */
margin-right: 8vw; /* Jarak antara kartu */
}

.card-title {
padding-top: 2vh;
}

.card:hover {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transform: scale(1.05);
transition: all 0.3s ease;
}

.card-text {
font-size: 12px;
}

.title{
text-align: center;
color: antiquewhite;
}

.navbar{
text-align: right;
justify-content: end;
background-color: #292929 !important;
color: antiquewhite !important;
}   

.nav-link {
font-weight: bold;
font-size: 14px;
text-transform: uppercase;
text-decoration: none;
color: #031D44;
padding: 20px 0px;
margin-right: 20px;
display: inline-block;
position: relative;
opacity: 0.75;
}
